:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-main-color: #ffffff;
  --background-light-color: #f5f4fa;
  --background-hero-color: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-main-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.title {
  margin: 0px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-page__container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.header-nav__item {
  margin-right: 50px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  padding: 32px 0px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms var(--timing-function);
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 250ms var(--timing-function);
}

.header-nav__link:hover::after,
.header-nav__link:focus::after {
  transform: scaleX(1);
}

.header-nav__link--active {
  padding: 32px 0px;
  position: relative;
  color: var(--accent-color);
}

.header-nav__link--active::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.logo {
  padding: 24px 0px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: #000000;
}

.header-nav__logo {
  margin-right: 93px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item {
  margin-right: 50px;
}

.contacts__item:last-child {
  margin-right: 0px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__svg {
  fill: currentColor;
  display: inline-block;
  margin-right: 10px;
}

.hero {
  background-color: var(--background-hero-color);
  padding-top: 202px;
  padding-bottom: 206px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 22px;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  outline: none;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.hero__button:hover, .hero__button:focus {
  color: var(--accent-color);
  background-color: var(--background-main-color);
}

.warranty {
  padding-top: 94px;
  padding-bottom: 94px;
}

.warranty__list {
  display: flex;
}

.warranty__item {
  width: 270px;
  margin-right: 30px;
}

.warranty__item:last-child {
  margin-right: 0px;
}

.warranty__item::before {
  content: "";
  display: block;
  height: 120px;
  max-width: 270px;
  margin-bottom: 30px;
  background-size: 65px 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-light-color);
}

.warranty__item--antena::before {
  background-image: url(../images/antenna.svg);
}

.warranty__item--clock::before {
  background-image: url(../images/clock.svg);
}

.warranty__item--diagram::before {
  background-image: url(../images/diagram.svg);
}

.warranty__item--astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.warranty__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.warranty__text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.71;
}

.occupation {
  padding-bottom: 94px;
}

.occupation__list {
  display: flex;
}

.occupation__item {
  margin-right: 30px;
  line-height: 0px;
}

.occupation__item:last-child {
  margin-right: 0px;
}

.occupation__title {
  margin-bottom: 50px;
}

.occupation__thumb {
  position: relative;
}

.occupation__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-light-color);
}

.team__list {
  display: flex;
}

.team__items {
  width: 270px;
  margin-right: 30px;
  line-height: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-main-color);
}

.team__items:last-child {
  margin-right: 0px;
}

.team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__profile {
  padding: 30px;
}

.team__proff {
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__title {
  margin-bottom: 50px;
}

.messengers {
  display: inline-flex;
}

.messengers__item:not(:last-child) {
  margin-right: 10px;
}

.messengers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-main-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.messengers__link--inverse {
  background-color: rgba(255, 255, 255, 0.1);
}

.messengers__link:hover, .messengers__link:focus {
  background-color: var(--accent-color);
}

.messengers__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.messengers__svg--inverse {
  fill: var(--secondary-text-color);
}

.messengers__link:hover .messengers__svg,
.messengers__link:focus .messengers__svg {
  fill: var(--secondary-text-color);
}

.messengers-footer__text {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-main-color);
}

.clients__list {
  display: inline-flex;
  margin-top: 50px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__box {
  margin-right: 70px;
}

.footer {
  background-color: var(--background-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__link {
  transition: color 250ms var(--timing-function);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__studio {
  color: var(--secondary-text-color);
}

.footer__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.address__item {
  margin-bottom: 9px;
}

.connection {
  color: var(--secondary-text-color);
}

.news-footer {
  margin-left: 93px;
}

.news__text {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.news__mail {
  margin: 0;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-hero-color);
  transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
}

.news__mail::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.news__mail:focus-within {
  outline: var(--accent-color);
  border-color: var(--accent-color);
}

.news__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.news__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow: auto;
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--background-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--background-main-color);
  transition: border 250ms var(--timing-function);
}

.modal__svg {
  transition: fill 250ms var(--timing-function);
}

.modal__button:hover .modal__svg {
  fill: var(--accent-color);
}

.form-request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form-request__text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form-request__field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-request__label {
  position: absolute;
  top: 50%;
  left: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function);
}

.form-request__field:focus-within .form-request__label {
  transform: translate(-40px, -38px);
}

.form-request__input:not(:placeholder-shown) + .form-request__label {
  transform: translate(-40px, -38px);
}

.form-request__input {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 40px;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
}

.form-request__field:focus-within .form-request__input {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.form-request__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.form-request__field:focus-within .form-request__icon {
  fill: var(--accent-color);
}

.form-request__comment-field {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.form-request__comment-label {
  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: transform 250ms var(--timing-function);
}

.form-request__comment-field:focus-within .form-request__comment-label {
  transform: translate(-12px, -27px);
}

.form-request__comment-input:not(:placeholder-shown)
+ .form-request__comment-label {
  transform: translate(-12px, -27px);
}

textarea {
  resize: none;
}

.form-request__comment-input {
  display: block;
  padding-left: 12px;
  padding-top: 10px;
  width: 448px;
  height: 120px;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function), outline 250ms var(--timing-function);
}

.form-request__comment-field:focus-within .form-request__comment-input {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.form-request__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-request__checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
  cursor: pointer;
}

.form-request__checkbox-input:focus + .form-request__checkbox-icon {
  border-color: var(--accent-color);
}

.form-request__checkbox-input:checked + .form-request__checkbox-icon {
  background-image: url("../images/whitecheck.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.form-request__checkbox-text {
  margin-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.form-request__conditions-link {
  color: var(--accent-color);
}

.form-request__btn {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--secondary-text-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.filter {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.filter__list {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  color: var(--title-text-color);
  background-color: var(--background-light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter__button--active {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.filter__button:hover, .filter__button:focus {
  color: var(--secondary-text-color);
  outline: none;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  margin-top: 0px;
  margin-left: 0px;
}

.project__item {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 372px;
  line-height: 0px;
  background-color: var(--background-main-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project__item:nth-child(3n) {
  margin-right: 0px;
}

.project__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project__link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.project__cards-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(calc(100% + 1px));
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
}

.project__link:hover .project__cards-overlay,
.project__link:focus .project__cards-overlay {
  transform: translateY(0);
}

.project__text-overlay {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}

.project__cards {
  padding: 20px 24px;
}

.project__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
/*# sourceMappingURL=main.css.map */