.footer__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
}

.address__item {
  margin-bottom: 9px;
}

.connection {
  color: var(--secondary-text-color);
}
