:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-main-color: #ffffff;
  --background-light-color: #f5f4fa;
  --background-hero-color: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
